{% extends 'base.html.twig' %}

{% block body %}
    {% if emptySlots %}
        <div class="container">
            <div class="row">
                <div class="column-66">
                    <h1 class="xlarge-font"><b>The apartment reservation was successful</b></h1>
                    <h1 class="large-font" style="color: #0f2f57;"><b>Enjoy</b></h1>
                    {% if discount %}
                        <span style="font-size:36px">Your discount is {{ discount }}%</span>
                    {% endif %}
                    <a class="button" href="{{ path('reservations') }}">BOOK NEXT ONE!</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="column-66">
                    <h1 class="xlarge-font"><b>Sorry, reservation failed</b></h1>
                    <h1 class="large-font" style="color: #0f2f57;"><b>In this time is not enough space in apartment</b>
                    </h1>
                    <a class="button" href="{{ path('reservations') }}">BOOK ANOTHER ONE!</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}